.Accra p {
    color: white;
    position: relative;
    bottom: 1500px;
    left: 200px;
    font-weight: bold;
    font-size: large;
}


.Accra h1 {
    color: orangered;
    position: relative;
    bottom: 1500px;
    left: 200px;
    font-size: 50px;
}

.Accra {
    width: 35%;
    height: 10vh;
}

.Nairobi {
    width: 35%;
    height: 10vh;
}

.Nairobi p {
    color: white;
    position: relative;
    bottom: 1500px;
    left: 200px;
    font-weight: bold;
    font-size: large;
}

.Nairobi h1 {
   color: orangered;
    position: relative;
    bottom: 1500px;
    left: 200px;
    font-size: 50px;

}

.Zanzibar p {
    color: white;
    position: relative;
    bottom: 1500px;
    left: 200px;
    font-weight: bold;
    font-size: large;

}
    
.Zanzibar h1 {
    color: orangered;
    position: relative;
    bottom: 1500px;
    left: 200px;
    font-size: 50px;

  
}



.events-cities {
    display: flex;
    width: 100%;
    background-blend-mode: darken;
    
}

.logo {

    position: absolute;
    left: 45%;
    padding-top: -18%;
    width: 200px;
}

body {
    overflow-x: hidden;
    height: 10vh;
    overflow-y: hidden;
}
.navigation a{
    

    display: block;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 150%;
    
    }
    .navigation{
        position:absolute;
        display: flex;
        bottom:60px;
        gap: 34px;
        text-align: center;
        left: 400px;
        padding: 20px;
        background-color: black;
        width: 700px;
        border-radius: 30px;
        font-size: small;
        justify-content: space-between;
    
        
    
    
    
    
    }

    @media only screen and (max-width:700px) {
        .Accra p {
    
            bottom: 150px;
            left: 150px;
            font-weight: bold;
            font-size: small;
            padding-top: 24%;
        }
        
        
        .Accra h1 {
            bottom: 80px;
            left: 130px;
            font-size: 40px;
            margin-top: -300%;
        }
        
        .Accra img{
            width: 100vw;
            height: 60vh;
        }
        
        .Nairobi {
            width: 33%;
            height: 10vh;
        }
        .Nairobi img{
            width: 100vw;
            height: 50vh;
        
            padding-top: 280%;
            

        }
        
        .Nairobi p {
            bottom: 0.1px;
            left: 100px;
            font-weight: bold;
            font-size: 95%;
            
        }
        
        .Nairobi h1 {

            bottom: 0.1px;
            left: 90px;
            font-size: 50px;
        
        }
        
        .Zanzibar p {
            bottom: 850px;
            left: 100px;
            font-size: 95%;
        
        }
            
        .Zanzibar h1 {
            bottom: 850px;
            left: 100px;
            font-size: 50px;
        
          
        }
        .Zanzibar img{
            width: 100vw;
            height: 50vh;
            padding-top: 180%;
        }
        
        .events-cities {
            display: block;
            
        }
        
        .logo {
        
            left: 35%;
            padding-top: -18%;
            width: 100px;
        }
        
            .navigation{

                bottom:-465px;
                gap: 1px;
                left: 20px;
                padding: 20px;
                width: 300px;
                font-size: 45%;
            
                
            
            
            
            
            }
   

    }
